<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/myStyle/CustomerHome.css" />

</head>
<body>
    <div>@RenderBody()</div>
    <!-- Footer -->
    <footer class="footer-container">
        <div class="contact">
            <p>Địa chỉ:123 đường Sư Vạn Hạnh, TP.HCM</p>
            <p>Số điện thoại: 0987661747</p>
        </div>
        <div class="social">
            <a href="https://www.facebook.com/profile.php?id=61555126565780">Facebook</a>
            <a href="https://www.instagram.com/d_minhman/">Instagram</a>
        </div>
        <div>
            <a style="text-decoration: none; color: #89CFF0" href="https://ananas.vn/policy/">Chính sách bảo hành</a>
        </div>
    </footer>
</body>
</html>
