@model _23DH112038_MyStore.Models.Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Thêm danh mục</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*Nhúng Partial View vào form cha*@
        @Html.Partial("PVCreateEditCategory", Model)
    </div>
}
